.row {
  margin-left: 0;
  margin-right: 0;
}

.col-6 {
   padding-left: 0;
   padding-right: 0;
}

i.fas {
  cursor: pointer;
}

.header {
  padding: 16px;
  position: relative;
  color: white;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
  justify-content: space-between;
  i {
    font-size: 32px;
  }
  span {
    font-size: 32px;
    font-weight: 600;
  }
  margin-bottom: 0px;
}

.card {
  width: 100%;
  padding: 15px;
  font-weight: 600;
  margin: 0;
  .icons {
    * {
      cursor: pointer;
      margin-left: 16px;
    }
    color: #8762A6;
    font-weight: 800;
  }
  margin-bottom: 10px;
}

.main-card {
  padding: 15px 0;
  margin-bottom: 20px;
  .content {
    margin: 0 15px;
  }

  .qr {

    canvas {
      margin: 0 auto;
      height: 256px;
      margin-bottom: 1rem;
    }

    input {
      background: white;
    }

    span {
      cursor: pointer;
      background: white;
      i {
        color: #8762A6;
      }
    }
  }

  .bridge, .ops {
    .btn {
      background-color: #FFFFFF;
      color: white;
      font-weight: 500;
    }
  }
}


.balance {
  width: 100%;
  max-height: 60px;

  .avatar {
    max-width: 60px;
    margin-right: 10px;
    canvas {
      max-width: 60px;
      max-height: 60px;
    }
  }

  span {
    font-size: 16px;
    vertical-align: top;
  }

  div {
    font-weight: 500;
    font-size: 34px;
    line-height: 30px;
  }
}

.nav-card {
  i {
    color: #8762A6;
    line-height: 30px;
  }
  span {
    margin-left: 20px;
  }
}

.send-to-address {
  .form-group .identicon {
    display: block;
    margin: 0 auto;
  }
  label {
    font-size: 14px;
  }
  button {
    margin-top: 10px;
    font-size: 16px ;
  }
}

.bottom-text{
  margin-top: 20px;
  font-size: 16px;
  color: white;
  font-weight: 500;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  .alert {
    font-size: 16px;
    margin: 10px;
  }
}

.content.ops.row{
	align-items: center;
}

.blockie_container{
	cursor: pointer;
	display: flex;
	align-items: center;
}

.blockie_container__name{
	margin-left: 16px;
}

.blockie__loader{
	max-height:50px;
	opacity:0.25;
	width: 48px;
	height: 48px;
	object-fit: cover
}

.money_display{

}

.money_display__connecting{
	opacity: 0.1;
	font-size: 28px;
	padding-top: 15px;
}

.money_display__network{
	opacity: 0.4;
	font-size: 22px;
}

.context{
	position: absolute;
	left: 10px;
	bottom: 10px;
	opacity:0.2;
	z-index:100;
	font-size: 60px;
	color: #FFFFFF;
	line-height: 1;
}
