//@import url('https://rsms.me/inter/inter-ui.css');
//@import url('/fonts/arial_rounded_mt_bold.ttf');
body {
  font-family: 'Overpass', sans-serif;
  height: 100%;
  background-attachment: fixed;
  background-color: #FFFFFF;
  letter-spacing: -1pt;
  color: #4A4A4A;
}
a {
  color:#777777;
  text-decoration: none;
}
a:visited {
  color:#444444;
  text-decoration: none;
}

.Linkify {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}
.chat {
  line-height: 1;
  letter-spacing: -0.8px;
}

.topBlockie {
    -webkit-transform: scale(4,1) rotate(90deg) ;
    -moz-transform: scale(4,1) rotate(90deg) ;
    -o-transform: scale(4,1) rotate(90deg) ;
    -ms-transform: scale(4,1) rotate(90deg) ;
}
