@import url('https://rsms.me/inter/inter-ui.css');
@import url('/fonts/arial_rounded_mt_bold.ttf');

:not(i) {
  font-family: "Inter UI", sans-serif;
}

body {
  height: 100%;
  background-attachment: fixed;
  background-image: linear-gradient(#F69E4D, #F76B1C);
  margin: 10px;
  margin-top: 25px;
  font-size: 20px;
  color: #4A4A4A;
}
